<div class="container">

  <div>
    <button (click)="openDialogNewAeronava()" mat-button class="btn btn-primary">+</button>
  </div>

  <div class="outline-box" style="margin-top: 32px">

    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let aeronava">{{aeronava.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nume">
        <mat-header-cell *matHeaderCellDef>Nume</mat-header-cell>
        <mat-cell *matCellDef="let aeronava">{{aeronava.nume}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="producator">
        <mat-header-cell *matHeaderCellDef>Producator</mat-header-cell>
        <mat-cell *matCellDef="let aeronava">{{aeronava.producator}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
  </div>
</div>
