<div class="container">

  <div class="outline-box" style="margin-top: 32px">

    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let destinatie">{{destinatie.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="oras">
        <mat-header-cell *matHeaderCellDef>Oras</mat-header-cell>
        <mat-cell *matCellDef="let destinatie">{{destinatie.oras}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="stat">
        <mat-header-cell *matHeaderCellDef>Stat</mat-header-cell>
        <mat-cell *matCellDef="let destinatie">{{destinatie.stat}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
  </div>
</div>
