<mat-toolbar style="margin-bottom: 48px;margin-left: 8px">
  <mat-toolbar-row>
    <div style="position:absolute; left: 16px">
      <div style="display:flex;flex-direction:column;flex-wrap:nowrap;margin-top:48px">

        <div class="row-1">

          <a>Non low cost:</a>
          <a mat-button routerLink="/aeronava-non-low" routerLinkActive="active">Aeronave</a>
          <a mat-button routerLink="/stat-non-low" routerLinkActive="active">State</a>
          <a mat-button routerLink="/operator-zbor-non-low" routerLinkActive="active">Operatori de zbor</a>
          <a mat-button routerLink="/clasa-zbor-non-low" routerLinkActive="active">Clase zbor</a>
          <a mat-button routerLink="/metoda-plata-non-low" routerLinkActive="active">Metode plata</a>
          <a mat-button routerLink="/destinatie-non-low" routerLinkActive="active">Destinatii</a>
          <a mat-button >Clienti</a>
          <a mat-button routerLink="/zbor-non-low" routerLinkActive="active">Zboruri</a>
          <a mat-button routerLink="/rezervare-non-low" routerLinkActive="active">Rezervari</a>
          <a mat-button routerLink="/plata-non-low" routerLinkActive="active">Plati</a>
        </div>

        <div class="row-1">
          <a>Low cost:</a>
          <a mat-button routerLink="/aeronava-low" routerLinkActive="active">Aeronave</a>
          <a mat-button routerLink="/stat-low" routerLinkActive="active">State</a>
          <a mat-button routerLink="/operator-zbor-low" routerLinkActive="active">Operatori de zbor</a>
          <a mat-button routerLink="/clasa-zbor-low" routerLinkActive="active">Clase zbor</a>
          <a mat-button routerLink="/metoda-plata-low" routerLinkActive="active">Metode plata</a>
          <a mat-button routerLink="/destinatie-low" routerLinkActive="active">Destinatii</a>
          <a mat-button>Clienti</a>
          <a mat-button routerLink="/zbor-low" routerLinkActive="active">Zboruri</a>
          <a mat-button routerLink="/rezervare-low" routerLinkActive="active">Rezervari</a>
          <a mat-button routerLink="/plata-low" routerLinkActive="active">Plati</a>
        </div>

        <div class="row-1">
          <a>Global:</a>
          <a mat-button routerLink="/aeronava-global" routerLinkActive="active">Aeroave</a>
          <a mat-button routerLink="/stat-global" routerLinkActive="active">State</a>
          <a mat-button routerLink="/operator-zbor-global" routerLinkActive="active">Operatori de zbor</a>
          <a mat-button routerLink="/clasa-zbor-global" routerLinkActive="active">Clase zbor</a>
          <a mat-button routerLink="/metoda-plata-global" routerLinkActive="active">Metode plata</a>
          <a mat-button routerLink="/destinatie-global" routerLinkActive="active">Destinatii</a>
          <a mat-button routerLink="/client-global" routerLinkActive="active">Clienti</a>
          <a mat-button routerLink="/zbor-global" routerLinkActive="active">Zboruri</a>
          <a mat-button routerLink="/rezervare-global" routerLinkActive="active">Rezervari</a>
          <a mat-button routerLink="/plata-global" routerLinkActive="active">Plati</a>
        </div>
      </div>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
