<div class="container default-padding">
  <h2>Operator nou</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="container">

      <mat-form-field appearance="fill">
        <input formControlName="id" matInput placeholder="Id" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input formControlName="denumire" matInput placeholder="Denumire" type="text">
      </mat-form-field>
      <button class="btn btn-primary" type="submit">Save</button>
    </div>

  </form>
</div>
